[submodule "saber-common-scripts"]
	path = saber-common-scripts
	url = https://github.com/daveod06/saber-common-scripts.git
[submodule "enemy-occupation-system"]
	path = enemy-occupation-system
	url = https://github.com/daveod06/enemy-occupation-system.git
[submodule "ai-artillery"]
	path = ai-artillery
	url = https://github.com/daveod06/ai-artillery.git
